html,body{
	font-family: Lato !important;
	text-align:center;
	width:100%;
	height:100%;
}




#application-one,#application-two, #application-three, #application-four, #application-five, #application-six, #application-seven,
#application-eight, #application-nine, #application-ten{
	margin-top:10px;
	font-family: Lato !important;
	width:100%;
	height:40% !important;
	border-bottom:1px solid #e0e0e0;
}


#list{
	list-style: none;
}
#list:hover{
	box-shadow:0 4px 4px -2px #a6a6a6;
	line-height: 40px;
}

#contact-form-error{
	color:red;
	text-decoration:bold;
	font-family:Lato;
}

#contact-form-email.ng-invalid{
	background: #fed123;
}