<!DOCTYPE html>
<!--========================================================
				author:joseph appeah
				date  :06/28/2016
				about :learning angular js
=========================================================-->
<html>

	<head>
		<!-- custom Javascript & CSS -->
		<link href='stylesheet.css' rel="stylesheet" type='text/css'>
		
		<!-- jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		
		<!-- angular js -->
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
		<script src="app.js"></script>
		<script src="ctrl.js"></script>
	
		<!-- bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		
		<!-- fonts -->
		<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	</head>
	
	
	<body>
	
		<!-- application one -->
		<div ng-app="app-1" id="application-one">
			<div ng-controller="ctrl-one">
				<br>
				<p>{{first + "  " + last}}</p>
				<br>
				<input type="text" ng-model="first">
				<input type="text" ng-model="last">
			</div>
		</div>
		
		<!-- application two -->
		<div ng-app="app-2" id="application-two" ng-init="entries=[]">
			<div ng-controller="ctrl-two">
				<ul>
					<li ng-repeat="x in entries" id="list">
						{{ x }}
					</li>
				</ul>
			</div>
		</div>
		
		<!-- application three -->
		<div>
				<form name="contactform" ng-app="app-3" id="application-three">
					<input id="contact-form-email" type="email" name="email" ng-model="text" required>
					<span id="contact-form-error" ng-show="contactform.email.$error.email">Please enter a valid email</span>
				</form>
		</div>
		
		<!-- application four -->
		<div ng-app="app-4" id="application-four">
			<div ng-controller="ctrl-four">
				<input type="text" ng-model="item" placeholder="add item to the list">
				<button ng-click="addItem()">add</button>
				<br>
				<ul>
					<li id="list" ng-repeat="x in items track by $index">
						{{ x }}
					</li>
				</ul>
			</div>
		</div>
		
		<!-- application five -->
		<div ng-app="app-5" id="application-five">
			<div ng-controller="ctrl-five">
				<div class="col-lg-12">
					<input placeholder="search" type="text" ng-model="search">
					<input placeholder="add item" type="text" ng-model="item">
				</div>
				<br>
				<button ng-click="addItem()">add</button>
				<br>
				<ul >
					<li id="list" ng-repeat="x in items | filter:search track by $index">
						{{x}}
					</li>
				</ul>
			</div>
		</div>
		
		<!-- application-six -->
		<div ng-app="app-6" id="application-six" > 
			<div ng-controller="ctrl-six">
				<input type="text" ng-model="index" placeholder="enter image index">
				<button ng-click="updatelist()" >update</button>
				<ul>
					<li id="list" ng-repeat="x in items track by $index">
						{{x}}
					</li>
				</ul>
			</div>
		</div>
		
		<!-- application seven -->
		<div ng-app="app-7" id="application-seven">
			<div ng-controller="ctrl-seven">
				<table>
					<tr ng-repeat="x in items">
					<!--
						<td>{{x}}</td>
						<td> {{ x.DATE }} </td>
						<td> {{ x.ID }} </td>
						<td> {{ x.URL }} </td>
					-->
					</tr>
				</table>
			</div>
		</div>
		
		<!-- application eight -->
		<div ng-app="app-8" id="application-eight">
			<div ng-controller="ctrl-eight">
				<select ng-model="id" ng-options="x.ID for x in items" ></select>
				<br>
				<p>{{id.ID+" | "+id.DATE+" | "+id.URL}}</p>
			</div>
		</div>
		
		<!-- application nine -->
		<div ng-app="app-9" id="application-nine">
			<div>
				<input type="checkbox" ng-model="mySwitch"></input>
				<div ng-show="mySwitch">
					<p>this is some content</p>
				</div>
			</div>
		</div>
		
		<!-- application ten -->
		<div ng-app="app-10" id="application-ten">
			<div ng-controller="ctrl-ten" ng-mousemove="shadow($event)" style="width:100%; height:100%;">
				<p>{{xcod + ", "+ ycod}}</p>
				<div style="border-radius:100%; width:50px; height:50px; background:#a6a6a6; position:absolute;" id="shadow">
				</div>
			</div>
		</div>
		
	</body>
</html>