/*
	Javascript Email Client CSS
	author: Joseph Appeah
	date  : 07/08/2016
*/

html,body{
 height:100%;
 width:100%;
}

#navbar-burger{
	border-radius:0px !important;
}

#navbar-link{
	color: #222 !important;
	text-align:center;
}
#navbar-link:hover{
	text-decoration:underline;
}

#navbar-links{
	background:#e0e0e0;
	/*box-shadow:1px 1px 1px #a6a6a6;*/
	border-bottom: #424242;
	text-transform: uppercase;
	box-shadow:0px 0px 1px #a6a6a6;
	text-shadow:0px;
	font-size: 12px;
}

#intro-text{
	margin-top:10%;
	padding-left:1%;
	padding-right:1%;
	font-size:33px;
	font-family: Raleway;
	text-align: center !important;
}

#navbar{
	background:#e0e0e0 !important;
	border-radius:0px !important;
	font-family: Josefin Sans !important;
	width: 100% !important;
	box-shadow:1px 1px 1px #a6a6a6;
	height:35px !important;
	border: 0px; 
	margin-bottom: 0% !important;
	border-bottom: #424242;
}

#navbar-brand{
	color: #222 !important;
	font-family:Raleway !important;
	font-size: 25px;
	/*text-shadow:1px 2px 1px #424242;*/
}

#header{
	margin-top: 0% !important;
	height:50%;
	border-bottom: 1px solid #bdbdbd;
	text-align: center !important; 
	background:#e0e0e0;

}

#header-button{
	color:#222;
	background:#e5e5e5;
	border-radius:0px !important;
	font-family:Josefin Sans !important;
	margin-top:7%;
	text-transform: uppercase;
	text-shadow:0px;
	font-size: 12px;
}

#header-button:hover{
	box-shadow:0 5px 7px -5px #222;
}

#header-container{
	height: 100%;
	width:100%;
}
#about-client{
	margin-top:5%;
}

#about-client-container{
	height:100% !important;
	width: 100% !important;
}

#info-heading-1,#info-heading-2{
	text-align: center;
	font-size:30px;
	font-family:Lato !important;
}

#info-description-1,#info-description-2{
	text-align: center;
	font-size:25px;
	font-family:Josefin Sans !important;
}

#function-description-section{
	height:60% !important;
}

#function-image-section{
	height:60% !important;
}